body {
    background-image: url('URL_da_sua_imagem');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #e0e0e0;
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1f1f1f;
    color: #ff00ff;
    padding: 1em;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #00ccff;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 2em;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

section {
    margin-bottom: 2em;
}

h2 {
    color: #ff00ff;
}

label {
    display: block;
    margin-top: 1em;
}

input, select, button {
    display: block;
    width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
}

button {
    background-color: #00ccff;
    color: #1f1f1f;
    border: none;
    cursor: pointer;
    margin-top: 1em;
}

button:hover {
    background-color: #ff00ff;
    color: #fff;
}

footer {
    background-color: #1f1f1f;
    color: #ff00ff;
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.5);
}

