body {
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    font-family: 'Orbitron', sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1f1c2c;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #ff0099;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 50px;
    text-align: center;
}

h1, h2 {
    text-shadow: 0 0 10px #ff0099, 0 0 20px #ff0099;
}

footer {
    background-color: #1f1c2c;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.button {
    background-color: #ff0099;
    box-shadow: 0 0 10px #ff0099, 0 0 20px #ff0099, 0 0 30px #ff0099;
    border: none;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #e60085;
}
